<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div class="uk-container uk-padding-small">
       <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register on Foodlog for free</span>
           <%= link_to "Sign Up!", class: "uk-button uk=button-outline-light uk-button-rounded" %>
         
        </p>
      </section>
 
    </div>

   </div>
</footer>